sql_connection do
  adapter     "mysql"
  host        "localhost"
  username    "root"
  password    "passw0rd"
  database    "my_database"
  encoding  "utf8"        
# This is defaulted to 10000 but in case you want to make that smaller (on lower RAM machines)
end
mongodb_connection do
  host        "localhost"
  database    "my_database"
end